* {
	margin: 0;
}
body {
	background: linear-gradient(to right, #00FFFF, #FE2EF7);
}
#header {
	height: 65px;
}
ul li {
	float: left;
}
#header ul li a {
	color: white;
	text-decoration: none;
	padding: 0 10px;
	font-family: sans-serif;
	line-height: 65px;
	display: flex;
	height: 65px;
}
#header ul li a:hover {
	background-color: green;
}
.li_without_list_style {
	list-style-type: none;
}
#topmenu {
	position: absolute;
	left: 65%;
}
.bg_top_menu {
	background: linear-gradient(to right, #e91e63, #3f51b5);
}
#Start_about {
	position: relative;text-align: center;
	color: white;
	top: 120px;
	font-family: cursive;
}
#head_site {
	background: linear-gradient(to right, #00FFFF, #FE2EF7);
	height: 950px;
}
#p1 {
	position: relative;text-align: center;
	color: black;
	top: 140px;
	font-family: sans-serif;
	font-size: 30px;
}
#button_get_boost {
	border-radius: 20px;
	color: white;
	background: linear-gradient(to right, #0000FF, #FF0040);
	height: 70px;
	width: 700px;
}
#button_boost {
	position: relative;text-align: center;
	top: 400px;
}
#logo {
	position: absolute;
	right: 1100px;
	padding: 15px;
}
#main_menu {
	height: 65px;
	width: 100%;
	position: fixed;
	border: 1px solid black;
	overflow: hidden;
}
#h2 {
	position: relative;
	text-align: center;
	bottom: 48px;
	color: white;
	font-family: cursive;
}
#about_us {
	background: linear-gradient(to right, #00FFFF, #FE2EF7);
}
#p_about_us {
	font-family: sans-serif;
	text-align: center;
	font-size: 20px;
}
.About_us_buttons {
	background: linear-gradient(to right, #0000FF, #FF0040);
	border: none;
	border-radius: 17px;
	height: 50px;
	width: 100px;
	color: white;
	font-family: monospace;
}
#about_buttons {
	text-align: center;
	position: relative;
}
#h3 {
	color: white;
	font-family: cursive;
	text-align: center;
	font-size: 30px;
	position: relative;
	top: 10px;
}
#Otzivi {
	background: linear-gradient(to right, #00FFFF, #FE2EF7);
}
#p_in_otz {
	text-align: center;
	font-family: sans-serif;
	position: relative;
	font-size: 20px;
}
#Services {
	background: linear-gradient(to right, #2EFE2E, #FF8000);
	border: 5px solid black;
	border-radius: 10px;
	overflow: hidden;
	margin: 0 500px;
}
#li_serv {
	position: relative;
	text-align: center;
}
.serv {
	color: black;
	font-style: italic;
	font-family: sans-serif;
	font-size: 50px;
}
#h4 {
	color: white;
	font-family: cursive;
	text-align: center;
	font-size: 50px;
	position: relative;
	top: 10px;
}
#buy_serv {
	position: relative;
	text-align: center;
	font-size: 25px;
	text-decoration: none;
}
#seller {
	font-family: sans-serif;
	font-size: 50px;
	background: linear-gradient(to right, #0000FF, #FF0040);
	position: relative;
	text-align: center;
	border: 5px solid black;
	margin: 0 700px;
	border-radius: 20px;
}
#buy_contact {
	text-decoration: none;
	color: white;
}
#buy_contact:hover {
	color: red;
}
#big_button {
	text-decoration: none;
	color: white;
	font-size: 50px;
}
#big_button:hover {
	color: red;
}
